
<!--
<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-12">
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="https://snapwidget.com/embed/{{ site.snapwidget }}" class="snapwidget-widget" allowTransparency="true"
                    frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
        </div>
    </div>
</section>
-->
<h5 id="research">&nbsp;</h5>
<section id="Research" class="container content-section text-left">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2 id="research">Research</h2>
<p>My primary fields are Macroeconomics and International Finance. My secondary field is  International Trade.

</p>

<h4 id="job-market-paper">Job Market Paper</h4>
<ul>
  <li>“Clustered Sovereign Default”
<br />(<a href="./web-dist/files/JobMarketPaper.pdf" target="_blank"><em>paper</em></a>)</li>
</ul>
<details><summary>Abstract</summary>--FILL IN--</details>

<h4 id="working-papers">Working Papers</h4>
<ul>
  <li>"Credit Constrained Households in Emerging Markets and their Effect on Consumption Volatility”
<br />(<a href="./web-dist/files/JobMarketPaper.pdf" target="_blank"><em>paper</em></a>)</li>
</ul>
<details><summary>Abstract</summary>--FILL IN--</details>
<ul>
  <li>“Creditor Rights During a Financial Crisis", (with Sudip Gupta and Krishnamurthy Subramanian)
<br />(<a href="./web-dist/files/JobMarketPaper.pdf" target="_blank"><em>paper</em></a>)</li>
</ul>
<details><summary>Abstract</summary>--FILL IN--</details>
  </div>
  </div>
</section>
