<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <img class="img-me" src="./web-dist/images/profile-image.jpg" alt="">
                <p>&nbsp;</p>
                <h1 class="brand-heading2">Anurag Singh</h1>
                <p class="intro-text">I am a PhD candidate in economics department at Columbia University. My research interests include International Macroeconomics, Emerging Market Business Cycles and Sovereign Defaults. Apart from doing research, I like running marathons and travel photography.
                </p>
                </div>
            </div>
        </div>
    </div>
</header>
